ambari:

  version: 1.7.0

  ## Specific configuration for Ambari Agent
  agent:
    ## Should the agent be started and enabled when deployed
    ## if false, status/state unchanged
    start_service: True

    ## All of the following is used for /etc/ambari-agent/conf/ambari-agent.ini
    server:
      hostname: localhost
      url_port: 8440
      secured_url_port: 8441
    agent:
      prefix: /var/lib/ambari-agent/data
      tmp_dir: /var/lib/ambari-agent/data/tmp
      loglevel: INFO
      data_cleanup_interval: 86400
      data_cleanup_max_age: 2592000
      data_cleanup_max_size_MB: 100
      ping_port: 8670
      cache_dir: /var/lib/ambari-agent/cache
      tolerate_download_failures: true
      run_as_user: root
      parallel_execution: 0
      alert_grace_period: 5
    command:
      maxretries: 2
      sleepBetweenRetries: 1
    security:
      keysdir: /var/lib/ambari-agent/keys
      server_crt: ca.crt
      passphrase_env_var_name: AMBARI_PASSPHRASE
    services:
      pidLookupPath: /var/run/
    heartbeat:
      state_interval: 6
      dirs: |
        /etc/hadoop,/etc/hadoop/conf,/etc/hbase,/etc/hcatalog,/etc/hive,/etc/oozie,
          /etc/sqoop,/etc/ganglia,
          /var/run/hadoop,/var/run/zookeeper,/var/run/hbase,/var/run/templeton,/var/run/oozie,
          /var/log/hadoop,/var/log/zookeeper,/var/log/hbase,/var/run/templeton,/var/log/hive
      log_lines_count: 300

  ## Specific configuration for Ambari Server
  server:
    ## Should the ambari server be automatically started and enabled
    ## if false, status/state unchanged
    start_service: False

    # log4j template
    log4j: salt://ambari/server/files/log4j.properties

    ## server configuration in ambari.properties
    agent:
      package:
        install:
          task:
            timeout: 1800
      task:
        timeout: 900
      threadpool:
        size:
          max: 25
    ambari_server:
      user: root
    ambari:
      python:
        wrap: ambari-python-wrap
    api:
      authenticate: true
    bootstrap:
      dir: /var/run/ambari-server/bootstrap
      script: /usr/lib/python2.6/site-packages/ambari_server/bootstrap.py
      setup_agent:
        script: /usr/lib/python2.6/site-packages/ambari_server/setupAgent.py
    client:
      threadpool:
        size:
          max: 25
    common:
      services:
        path: /var/lib/ambari-server/resources/common-services
    custom:
      action:
        definitions: /var/lib/ambari-server/resources/custom_action_definitions
    java:
      home: /usr/jdk64/jdk1.7.0_67
      releases: jdk1.7,jdk1.6
    jce:
      name: UnlimitedJCEPolicyJDK7.zip
    jdk:
      name: jdk-7u67-linux-x64.tar.gz
    jdk1_6:
      desc: Oracle JDK 1.6
      dest_file: jdk-6u31-linux-x64.bin
      home: /usr/jdk64/
      jcpol_file: jce_policy-6.zip
      jcpol_url: http://public-repo-1.hortonworks.com/ARTIFACTS/jce_policy-6.zip
      re: Creating (jdk.*)/jre
      url: http://public-repo-1.hortonworks.com/ARTIFACTS/jdk-6u31-linux-x64.bin
    jdk1_7:
      desc: Oracle JDK 1.7
      dest_file: jdk-7u67-linux-x64.tar.gz
      home: /usr/jdk64/
      jcpol_file: UnlimitedJCEPolicyJDK7.zip
      jcpol_url: http://public-repo-1.hortonworks.com/ARTIFACTS/UnlimitedJCEPolicyJDK7.zip
      re: (jdk.*)/jre
      url: http://public-repo-1.hortonworks.com/ARTIFACTS/jdk-7u67-linux-x64.tar.gz
    kerberos:
      keytab:
        cache:
          dir: /var/lib/ambari-server/data/cache
    metadata:
      path: /var/lib/ambari-server/resources/stacks
    recommendations:
      dir: /var/run/ambari-server/stack-recommendations
    resources:
      dir: /var/lib/ambari-server/resources
    security:
      server:
        keys_dir: /var/lib/ambari-server/keys
    server:
      connection:
        max:
          idle:
            millis: 900000
      execution:
        scheduler:
          isClustered: false
          maxDbConnections: 5
          maxThreads: 5
          misfire:
            toleration:
              minutes: 480
      fqdn:
        service:
          url: http://169.254.169.254/latest/meta-data/public-hostname
      http:
        session:
          inactive_timeout: 1800
      jdbc:
        database: postgres
        database_name: ambari
        driver: org.postgresql.Driver
        hostname: localhost
        port: 5432
        url: jdbc:postgresql://debian7-1.glinmac.dev:5432/ambari
        postgres:
          schema: ambari
        user:
          name: ambari
          passwd: /etc/ambari-server/conf/password.dat
        rca:
          driver: org.postgresql.Driver
          url: jdbc:postgresql://debian7-1.glinmac.dev:5432/ambari
          user:
            name: ambari
            passwd: /etc/ambari-server/conf/password.dat
      persistence:
        type: local
      stages:
        parallel: true
      tmp:
        dir: /var/lib/ambari-server/tmp
      version:
        file: /var/lib/ambari-server/resources/version
    shared:
      resources:
        dir: /usr/lib/ambari-server/lib/ambari_commons/resources
    stackadvisor:
      script: /var/lib/ambari-server/resources/scripts/stack_advisor.py
    ulimit:
      open:
        files: 10000
    views:
      request:
        connect:
          timeout:
            millis: 5000
        read:
          timeout:
            millis: 10000
    webapp:
      dir: /usr/lib/ambari-server/web
